#local-fonts-uploader-app {
    min-height: 120vh;
}

.lfontsup-no-fonts-container {
    width: 100%;
    background-color: white;
    padding: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    color: gray;
}

.lfontsup-no-fonts-container > h2 {
    color: gray;
}

.lfontsup-no-fonts-icon {
    font-size: 60px;
}

.lfontsup-upload-font-container {
    border: 1px solid black;
    padding: 60px 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lfontsup-variant-panel {
    max-width: 60%;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.lfontsup-edit-font-name {
    width: 60% !important;
    max-width: 60% !important;
    margin-bottom: 10px !important;
}

.lfontsup-add-new-variant {
    width: 60% !important;
    max-width: 60% !important;
}

.lfontsup-font-file-upload {
    width: 100%;
    display: flex;
}

.lfontsup-variant-panel .lfontsup-select,
.lfontsup-variant-panel > button {
    flex: 1 1 calc(50% - 10px);
}

.lfontsup-tagline-note {
    color: gray;
    margin: 0 0 25px;
    font-style: italic;
}

.lfontsup-tagline-no-margin-bottom {
    margin-bottom: 0 !important;
}

.lfontsup-inline-block {
    display: inline-block;
    border-bottom: 2px solid black;
}

.lfontsup-font-variants-title {
    font-size: 19px;
    display: flex;
    gap: 10px;
    font-weight: 400;
}

.lfontsup-assign-container,
.lfontsup-data-assign-container {
    width: 40%;
}

.lfontsup-setting-delete-btn {
    width: 20%;
}

.lfontsup-btn-red:hover {
    color: #f00;
    border-color: #ffdede;
    background: #ffdede;
}

.v-card-title {
    font-weight: 600;
    align-items: center;
    letter-spacing: 0;
    gap: 10px;
}

.lfontsup-popup-box .v-card-title {
    line-height: 1;
    color: var(--noti-color, currentColor);
}

#lfontsup-font-name-input {
    border: 1px solid #ababab !important;
    border-radius: 5px;
    height: 50px;
    width: 100%;
    padding-left: 20px;
    box-shadow: none !important;
}

#lfontsup-font-name-input:focus {
    border-color: black !important;
}

#lfontsup-font-name-input::placeholder {
    color: rgb(204, 204, 204);
}

.lfontsup-black-btn {
    font-weight: 600;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    color: #fff;
    border: 1px solid #000;
    border-radius: 3px;
    background-color: #000;
    gap: 5px;
}

.lfontsup-white-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000000;
    height: 40px;
    font-weight: 600;
    line-height: 40px;
    padding: 0 20px;
    color: #000;
    border-radius: 3px;
    background-color: transparent;
    gap: 5px;
}

.is-assign-variant,
.lfontsup-green {
    --noti-color: #30a967;
}

.lfontsup-red {
    --noti-color: #ff2338;
}

.lfontsup-class-name-input {
    height: 40px;
    width: 100%;
}

.lfontsup-class-name-input:focus {
    border-color: rgb(0, 0, 0) !important;
    outline: none;
    box-shadow: none !important;
}

.lfontsup-transition {
    transition: all 0.3s ease;
}

.lfontsup-transition:disabled {
    opacity: .5;
    pointer-events: none;
}

.lfontsup-app {
    background-color: #f0f0f1 !important;
}

textarea.lfontsup-text-area-sync-data {
    font-family: monospace, monospace;
    padding: 20px;
}

textarea.lfontsup-text-area-sync-data:read-only {
    border-color: transparent;
    color: #777;
}

.lfontsup-card {
    border-radius: 5px;
    box-shadow: none !important;
    margin-top: 10px;
    max-width: 100%;
    padding: 40px;
    width: 100%;
}

.lfontsup-container {
    max-width: 1420px !important;
    padding: 0 20px !important;
    width: 100%;
}

.lfontsup-card-center {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    margin-top: 10px;
    padding: 60px 40px;
    text-align: center;
}

.lfontsup-form-list-title {
    display: inline-block;
    font-size: 19.2px;
    font-weight: 400;
    border-bottom: 2px solid #1c2327;
    margin: 0 0 30px 0;
    padding: 0px;
    color: #1c2327;
}

.lfontsup-vtab-title {
    font-size: 18px;
    letter-spacing: -0.03em;
    text-transform: none;
}

.lfontsup-expansion-panel {
    margin-top: 7px;
    border-radius: 5px;
}

.lfontsup-setting-properties-title {
    margin-top: 0px;
    font-size: 14px;
    font-weight: 600;
}

.lfontsup-row-properties {
    padding: 7px 16px 24px !important;
}

.v-tab__slider {
    height: 5px !important;
}

.lfontsup-footer {
    position: sticky;
    z-index: 1000;
    bottom: 0;
    width: 100%;
    margin-top: 32px;
    padding: 10px 20px;
    border-top: 2px solid #000;
    border-radius: 0 0 5px 5px;
    background-color: #fff;
}

.lfontsup-failed-snackbar .v-snackbar__wrapper {
    position: absolute;
    top: 50px;
    right: 15px;
    color: #ff0000;
    background-color: #ffdede;
}

.lfontsup-popup-box .v-card {
    width: 100%;
    border-left: 7px solid #8883;
    max-width: 420px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px !important;
    box-shadow: none !important;
}

.lfontsup-popup-box.is-assign-variant .v-card {
    max-width: 600px;
}

.lfontsup-assign-help-text {
    font-size: 15px;
    padding: 0.5rem 1rem;
    line-height: 1.5;
    font-weight: 400;
    color: #777;
}

textarea.lfontsup-assign-input {
    margin: 0.5rem 1rem;
    border: 1px solid #8882;
    padding: 20px 15px;
    font-size: 14px;
    font-weight: 500;
}

.is-assign-variant .v-card-text {
    font-size: 18px !important;
    color: #aaa;
    line-height: 1.7 !important;
}

.lfontsup-popup-box .v-card-actions .v-btn__content {
    font-size: 15px;
    padding: 0 7px;
    letter-spacing: 0;
    text-transform: capitalize;
}

.lfontsup-card-heading {
    display: flex;
    width: 100%;
    margin: 0 0 25px 0;
    padding: 0;
}

.lfontsup-card-heading i {
    font-size: 1em;
}

.lfontsup-card-title {
    font-size: 18px;
    font-weight: 400;
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding-bottom: 10px;
    white-space: nowrap;
    color: #000;
    border-bottom: 2px solid;
    gap: 5px;
}

.lfontsup-card-title.no-border {
    border-bottom: none;
}

.lfontsup-text-area:focus {
    border: 1px solid #000 !important;
    box-shadow: 0 0 0 0 #000 !important;
}

.lfontsup-text-area {
    width: 100%;
    min-height: 100px;
    padding: 10px;
    border: 1px solid #ababab;
    border-radius: 5px;
}

.lfontsup-sync-data-btn-group {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 12px;
}

.v-card-actions .lfontsup-access-btn {
    background: #8881;
}

.lfontsup-ok-btn {
    border: 1px solid #8882;
    transition: all .1s;
}

.v-card-actions .lfontsup-cancel-btn {
    background: #8881;
}

.lfontsup-access-btn:hover {
    color: #000;
    border-color: #68e58d;
    background-color: #68e58d;
}

.lfontsup-snackbar .v-snackbar__content {
    background: #000;
    color: #fff;
}

.lfontsup-snackbar.is-error .v-snackbar__content {
    background: #e70606;
    color: #fff;
}

.lfontsup-ok-btn:hover,
.lfontsup-white-btn:hover {
    color: #fff;
    border-color: #000;
    background: #000;
}

.lfontsup-normal-btn:hover {
    color: #fff;
    background-color: #000;
}

.lfontsup-cancel-btn {
    border-color: #8883;
}

.lfontsup-cancel-btn:hover {
    background-color: #ff3530;
    border-color: #ff3530;
    color: #ffffff;
}

.lfontsup-file-btn {
    font-size: 1rem;
    padding: 0 40px;
    min-height: 50px;
}

.lfontsup-snackbar .v-snackbar__wrapper {
    position: absolute;
    top: 50px;
    right: 15px;
    color: #468847;
    background-color: #dff0d8;
}

.lfontsup-v-tabs {
    z-index: 10;
    border-radius: 0 0 5px 5px;
    background: #fff;
    --v-tabs-height: 50px;
}

.lfontsup-v-tabs .v-btn__content {
    font-size: 16px;
    gap: 5px;
}

.lfontsup-introduce-right {
    padding-left: 40px;
}

.lfontsup-introduce-right svg {
    display: flex;
    width: 100px;
}

.lfontsup-introduce-left .d-flex {
    align-items: center;
    gap: 20px;
}

.lfontsup-admin-title {
    align-items: center;
    display: flex;
    font-size: 28px;
    font-weight: 700;
    gap: 7px;
    letter-spacing: -.03em;
    line-height: 1.1;
    margin: 0;
}

.lfontsup-admin-title svg {
    width: 1em;
}

.lfontsup-tagline {
    font-size: 17px;
    line-height: 1.7;
    max-width: 960px;
}

.lfontsup-docs-btn {
    border-color: #8884;
    line-height: 42px;
}

.lfontsup-grey-text {
    color: grey !important;
}

.lfontsup-card-title-center {
    font-size: 30px;
    line-height: 1.1;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    margin: 0;
    gap: 15px;
}

.lfontsup-create-form-wrap {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    gap: 10px;
}

.flu-file-upload-icon {
    font-size: 40px;
    line-height: 1;
    display: inline-flex;
}

.flu-file-upload-icon.mdi-file-hidden {
    font-size: 50px;
}

.flu-file-holder {
    display: flex;
    min-height: 65px;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 5px;
    align-items: center;
}

.flu-file-url {
    font-size: 11px;
    font-style: italic;
    color: #248d18;
}

.flu-file-upload {
    max-width: 560px;
    border: 3px dashed #8882;
    border-radius: 7px;
    padding: 30px;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    gap: 10px;
}

.flu-file-upload h3 {
    margin: 0;
}

.lfontsup-select-variant {
    margin-top: 20px;
}

.lfontsup-description {
    font-size: 16px;
    color: #aaa;
    font-weight: 400;
    line-height: 1.7;
    margin-bottom: 10px;
}

.lfontsup-variant-actions {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 10px;
}

.lfontsup-big-input-wrap {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: center;
    width: 100%;
}

input.lfontsup-big-input {
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    max-width: 700px;
    padding: 10px 20px;
    border: 1px solid #8884;
    border-radius: 5px;
}

input.lfontsup-big-input:hover,
input.lfontsup-big-input:focus {
    border-color: #000;
    box-shadow: none;
}

.lfontsup-creation-btn {
    font-size: 20px;
    font-weight: 600;
    line-height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 350px;
    padding: 5px 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: #000;
    border: 1px solid #6ded84;
    outline: none;
    background: #6ded84;
    box-shadow: none;
    gap: 5px;
}

.lfontsup-big-btn {
    font-size: 20px;
    font-weight: 600;
    line-height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 350px;
    padding: 5px 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid;
    outline: none;
    background: #000;
    box-shadow: none;
    color: #fff;
    gap: 5px;
}

.lfontsup-btn.is-cancel,
.lfontsup-creation-btn.is-cancel {
    color: #000;
    border-color: #8884;
    background: transparent;
}

.lfontsup-creation-btn i {
    font-size: 1em;
}

.lfontsup-creation-btn:hover {
    color: #fff;
    border-color: #000;
    background: #000;
}

.lfontsup-big-btn:hover {
    color: #fff;
    border-color: rgb(66, 185, 120);
    background: rgb(66, 185, 120);
}

.lfontsup-font-url {
    font-style: italic;
    width: max-content;
    max-width: 100%;
    cursor: text;
    overflow-wrap: break-word;
    margin-bottom: 0;
    padding: 4px 10px;
    color: rgb(66, 185, 120);
    border-radius: 3px;
    background-color: rgba(66, 185, 120, 0.067);
}

.lfontsup-settings-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    display: flex;
    align-items: center;
    margin: 0;
    white-space: nowrap;
    letter-spacing: -0.02em;
}

.lfontsup-settings-title i {
    font-size: 1.25em;
}

.lfontsup-settings-list {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 20px;
    border: 1px solid #8882;
    border-radius: 5px;
}

.v-expansion-panel-title__overlay {
    background: #42b978;
}

#lfontsup-footer-btn {
    display: flex;
    justify-content: flex-end;
    gap: 7px;
}

#lfontsup-footer-btn button {
    min-width: 150px;
}

.lfontsup-settings-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 10px 0px 40px;
}

.lfontsup-settings-row-details {
    display: flex;
    gap: 10px;
    flex: 9 1 0;
}

.lfontsup-delete-setting-btn {
    flex: 1 1 0;
    display: flex;
    align-items: flex-end;
}

.lfontsup-settings-row-details-1 {
    flex: 1 1 0;
}

.lfontsup-settings-row-details-2 {
    flex: 1 1 0;
}

.lfontsup-delete-setting-btn button {
    max-width: 130px;
}

.lfontsup-tag-title-text {
    display: flex;
    gap: 10px;
}

.lfontsup-tag-title-text1 {
    flex: 4 1 0;
}

.lfontsup-tag-title-text2 {
    flex: 5 1 0;
}

.lfontsup-fullwidth-btn {
    width: 100%;
}

.lfontsup-select .v-input {
    --v-input-control-height: 40px;
    --v-input-padding-top: 8px;
}

.v-list-item__overlay {
    background: #42b978 !important;
}

/** dropdown */
.v-list-item--density-default {
    min-height: 40px;
}

.v-field__input {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    color: #000;
}

#lfontsup-class-name-warning-container {
    display: flex;
    justify-content: flex-end;
    margin: 0px 0px 17px;
}

#lfontsup-class-name-warning-container > p {
    flex: 0 0 55%;
}

.lfontsup-variant-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.lfontsup-variant-content > :nth-child(1) {
    flex: 2;
}

.lfontsup-variant-content > :nth-child(2) {
    flex: 5;
}

.lfontsup-variant-content > :nth-child(3) {
    flex: 5;
}

.lfontsup-variant-content > :nth-child(4) {
    flex: 1;
}

.v-select .v-field .v-field__input > input {
    border-color: transparent;
}

.lfontsup-btn {
    white-space: nowrap;
    border-radius: 5px;
}

.lfontsup-btn i {
    line-height: 0;
}

.lfontsup-loading-icon {
    animation: spin 1.5s infinite linear;
}

.lfontsup-tips {
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    background: linear-gradient(to right, #0008afdd, #db00ff);
}

.lfontsup-tips h3 {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    color: #fff;
    margin-top: 0;
}

.lfontsup-tips-description {
    font-size: 14px;
    color: #fff;
    font-weight: 500;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.lfontsup-icon-title {
    display: flex;
    gap: 10px;
}

.lfontsup-row-properties > .v-row {
    display: flex;
    gap: 10px;
}

.lfontsup-assign-row {
    display: flex;
    gap: 10px;
    margin: 10px 0px !important;
}

.lfontsup-divider {
    margin-top: 15px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.75);
}

#lfontsup-title-card {
    margin-bottom: -1px;
    padding: 40px 40px 0;
    border-radius: 5px 5px 0 0;
    box-shadow: none !important;
}

#lfontsup-tab-title-card {
    max-width: 1380px !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

#lfontsup-upload-font-card {
    margin-top: 40px;
}

#lfontsup-font-name-warning-text {
    color: red;
    padding: 0px 0px 0px 4px;
}

#lfontsup-upload-font-row {
    padding: 12px 0px 0px 0px;
}

#lfontsup-font-before-upload-name {
    margin: 0px 20px 10px;
    color: #42b978;
    background-color: #42b97811;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    font-weight: 600;
}

#lfontsup-support-type-text {
    margin: 0px 20px;
    font-style: italic;
}

#lfontsup-font-uploaded-name {
    font-size: 17.6px;
    margin: 0px !important;
}

#lfontsup-divider-font-uploaded {
    margin: 20px 0px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.75);
}

#lfontsup-expansion-tag {
    margin-top: 40px;
}

.lfontsup-settings-desc {
    color: #aaa;
}

.lfontsup-assign-font-btn-container {
    padding: 20px 0px 0px !important;
}

#lfontsup-class-name-warning-text {
    margin-top: 0px;
    padding-left: 10px;
    color: red;
}

.lfontsup-name {
    font-size: 20px;
    margin: 0;
}

.lfontsup-name i {
    font-size: 22px;
}

.lfontsup-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lfontsup-list {
    flex-flow: row wrap;
    row-gap: 15px;
}

.lfontsup-listing {
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
}

.lfontsup-list:not(:first-child) {
    border-top: 1px solid #8882;
    padding-top: 15px;
}

.lfontsup-uploaded-font-btn-container {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-flow: row nowrap;
}

.lfontsup-uploaded-font-btn-container > button {
    min-width: 150px;
    max-width: 40%;
    height: 100%;
}

.lfontsup-upload {
    background-color: white;
    border-radius: 5px;
}

.lfontsup-variants {
    width: 100%;
    border-radius: 5px;
    background-color: white;
    margin-top: 20px;
    padding: 40px 40px;
}

.lfontsup-setting {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.lfontsup-_font-preview {
    width: 70%;
}

.lfontsup-variant-container {
    width: 100%;
    display: flex;
}

.lfontsup-variant-container > div {
    width: 50%;
}

.lfontsup-setting-row-title {
    display: flex;
    justify-content: space-between;
}

.lfontsup-upload-font-btn-container {
    display: flex;
}

.lfontsup-variant-amount-text {
    color: #777;
    margin-bottom: 0;
    font-style: italic;
    font-size: 14px;
}

.lfontsup-assign-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.lfontsup-assign-textarea {
    width: 100%;
    border: 1px solid gray;
}

.lfontsup-name-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 7px;
}

.v-chip-group.lfontsup-assigned-preview .v-chip {
    --v-chip-height: 26px;
}

.lfontsup-assigned-preview .v-chip--disabled {
    opacity: 1;
}

.lfontsup-assigned-preview .v-chip__content {
    font-size: 11px;
    font-weight: 500;
}

.lfontsup-file {
    display: inline-flex;
    font-size: 11px;
    gap: 5px;
}

.lfontsup-assigned-preview .v-chip .v-chip__underlay {
    background-color: #67bb72;
}

.lfontsup-variant-amount-text i,
.lfontsup-file i {
    color: #67bb72;
}

.doc-helper {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    justify-content: space-between;
    padding: 15px 20px;
    border: 1px solid #8882;
    border-radius: 5px;
    margin-bottom: 30px;
}

.doc-helper h3 {
    margin: 0;
    display: inline-flex;
    gap: 5px;
    align-items: center;
}

.lfontsup-rec-cards {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
    max-width: 1000px
}

.lfontsup-rec-card {
    border: 1px solid #8884;
    border-radius: 5px;
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden
}

.lfontsup-rec-content {
    padding: 0 20px 30px
}

.lfontsup-rec-image {
    background: #8881;
    padding-bottom: 50.85%;
    position: relative;
    width: 100%
}

.lfontsup-rec-image img {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.lfontsup-rec-card .lfontsup-black-btn {
    margin-top: 10px;
    text-decoration: none
}

.lfontsup-rec-content h2 {
    font-size: 22px;
    margin-bottom: 0
}

p.lfontsup-rec-tagline {
    font-size: .8rem;
    margin-top: 10px
}

@media (max-width: 1024px) {
    .lfontsup-responsive-btn {
        width: 150px;
    }

    #lfontsup-no-font-title {
        line-height: 1.4;
        font-weight: 700;
        font-size: 18px;
    }
}

@media (max-width: 767px) {
    .lfontsup-introduce-left .d-flex {
        flex-flow: column nowrap;
        align-items: self-start;
    }

    #lfontsup-admin-title {
        font-size: 24px;
    }

    .lfontsup-tagline {
        font-size: 15px;
    }

    .lfontsup-responsive-btn {
        width: 100%;
    }

    #lfontsup-no-font-title {
        font-size: 15px;
        font-weight: 700;
        line-height: 1.2;
    }

    .lfontsup-introduce-right {
        padding-left: 0;
        padding-bottom: 15px;
    }

    .lfontsup-introduce-right svg {
        width: 60px;
    }

    #lfontsup-title-card {
        flex-flow: column-reverse nowrap;
        padding: 20px 20px 0;
    }

    .lfontsup-card-center {
        padding: 40px 20px;
    }

    .lfontsup-card-title-center {
        font-size: 26px;
        gap: 10px;
    }

    .lfontsup-creation-btn {
        font-size: 18px;
        line-height: 42px;
        width: 100%;
        min-width: auto;
    }

    #lfontsup-footer-btn {
        justify-content: center;
    }

    #lfontsup-footer-btn button {
        width: 100%;
    }

    .lfontsup-settings-row-details-1 {
        width: 50%;
    }

    .lfontsup-settings-row-details-2 {
        width: 50%;
    }

    .lfontsup-delete-setting-btn {
        width: 100%;
    }

    .lfontsup-settings-row {
        flex-direction: column;
    }

    .lfontsup-delete-setting-btn button {
        width: 100%;
        max-width: 100%;
    }

    .lfontsup-tag-title-text1 {
        flex: 1 1 0;
    }

    .lfontsup-tag-title-text2 {
        flex: 1 1 0;
    }

    #lfontsup-class-name-warning-container > p {
        flex: 0 0 100%;
    }

    .lfontsup-assign-container,
    .lfontsup-data-assign-container,
    .lfontsup-setting-delete-btn {
        width: 100%;
    }

    .lfontsup-edit-font-name {
        width: 100% !important;
    }

    .lfontsup-variant-content {
        display: flex;
        align-items: center;
        gap: 20px;
        flex-direction: column;
    }

    .lfontsup-variant-content > *:nth-child(n) {
        text-align: center;
        flex: 1;
        width: 100%;
    }

    .flu-file-upload {
        padding: 20px;
    }

    .lfontsup-file-btn {
        font-size: .9rem;
        padding: 0 30px;
        min-height: 42px;
    }

    .lfontsup-variant-actions {
        flex-flow: column-reverse;
        font-size: 1rem;
        gap: 10px;
    }

    .lfontsup-rec-cards {
        grid-template-columns: repeat(1, 1fr);
    }
}
